// GROUP TITLES
.gold { @include group-title($color: gold); }
.salmon { @include group-title($color: salmon); }
.green { @include group-title($color: rgb(161, 220, 114)); }
.blue { @include group-title($color: rgb(78, 187, 255)); }
.brown { @include group-title($color: rgb(175, 142, 129)); }
.gray { @include group-title($color: rgb(150, 150, 150)); }
.indigo { @include group-title($color: rgb(111, 88, 187)); }

// GROUP OPTIONS BUTTONS
.gold-btn { @include group-options-btn($color: gold); }
.salmon-btn { @include group-options-btn($color: salmon); }
.green-btn { @include group-options-btn($color: rgb(161, 220, 114)); }
.blue-btn { @include group-options-btn($color: rgb(78, 187, 255)); }
.brown-btn { @include group-options-btn($color: rgb(175, 142, 129)); }
.gray-btn { @include group-options-btn($color: rgb(150, 150, 150)); }
.indigo-btn { @include group-options-btn($color: rgb(111, 88, 187)); }

.group-container {
    margin: 8px 0;
}

.group-over {
    width: 400px;
    overflow: hidden;
}

.group-header {
    @include flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.group-options-btn {
    &:hover {
        cursor: pointer;
    }
}

.group-dropdown {
    position: absolute;
    background-color: white;
    margin-top: 80px;
    z-index: 100;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    .group-option {
        padding: 5px;
        text-align: left;
        background-color: transparent;
        border: 1px solid lightgray;
        width: 100%;

        &:first-child {
            border-radius: 5px 0 0 0;
            &:hover {
                cursor: auto;
            }
        }

        &:last-child {
            border-radius: 0 0 0 5px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
        }
    }

    .color-change-wrapper {
        @include flex;
        position: relative;
        width: 180px;
    }

    div.colors-picker {
        @include flex;
        position: absolute;
        margin-left: -1px;
        padding: 5px;
        width: 260px;
        justify-content: space-between;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 0 3px 3px 0;
    }

    div.colors-picker-false {
        position: relative;
        display: none;
    }
}

.group-dropdown-false {
    display: none;
}

.tasks-list {
    width: 300px;
    min-height: 30px;
    margin: 0;
    padding: 0;

    .task-title-container {
        @include flex;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: rgb(248, 248, 248);
        border-bottom: 1px solid lightgray;

        &:last-child {
            border: none
        }

        input {
            margin: 0;
            color: black;
            font-size: .9rem;
            background-color: transparent;
        }
    }
}

.tasks-list i {
    font-size: 1rem;
    padding: .6rem;
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    &:active {
        opacity: 1;
    }
}

i.i-gold {color: gold; background-color: rgb(255, 241, 160); }
i.i-salmon {color: salmon; background-color: rgb(255, 194, 176);}
i.i-green {color: rgb(161, 220, 114); background-color: rgb(220, 248, 197); }
i.i-blue {color: rgb(78, 187, 255); background-color: rgb(174, 224, 255); }
i.i-brown {color: rgb(175, 142, 129); background-color: rgb(221, 193, 182); }
i.i-gray {color: rgb(150, 150, 150); background-color: rgb(226, 226, 226); }
i.i-indigo {color: rgb(111, 88, 187); background-color: rgb(217, 206, 250); }

.add-task-container {
    padding: 0;
    border: 1px solid lightgray;

    form {
        @include flex;
        margin: 0;
        justify-content: space-between;
        overflow: hidden;

        input {
            margin: 1px 0 1px 0;
            width: calc(100% - 60px);
            padding: 0 0 0 5px;
            font-size: .9rem;
            color: black;
        }

        button {
            margin: 1px 1px 0 0;
            height: 35px;
            width: 50px;
            border: none;
            text-align: center;
            background-color: rgb(42, 106, 255);
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#change-task-title {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.task-input {
    width: 255px;
    min-width: 0;
    overflow: hidden;
}