<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You've been invited to join a workspace at Wonday.com!</h3><br>
    <p>
      Hello! You're receiving this one-time invitation because someone has invited you to check out my full-stack project, Wonday, which is a clone of the work management web app Monday.com.
    </p><br>
    <p>Here is the link to the website: <%= @url %>.</p><br>
    <p>I hope you enjoy! If you'd like to contact me, I can be reached at: kierxin@gmail.com</p><br><br>
    <p>Cheers,</p>
    <p>Kira Porter</p>
  </body>
</html>