.everything-container {
    // @include roboto-lightweight;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(224, 224, 224);
}

.left-nav {
    display: block;
    height: 100vh;
    width: 10vw;
    min-width: 50px;
    max-width: 100px;
    overflow: hidden;
    background-color: rgb(44, 53, 88);
}

.left-nav-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 13px auto;
    height: calc(100vh - 26px);
    width: calc(100% - 20px); 
    color: white;
    border: 1px solid salmon;
}

.board-main {
    padding: 20px;
}