.board-content {
    width: 100%;
    display: block;
    padding: 15px;
    overflow-y: auto;
}

.board-header {
    border-bottom: 1px solid rgb(228, 228, 228);

    input {
        @include roboto-lightweight;
        width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
    }

    input.board-input { // board description input
        width: 50%;
        height: fit-content;
        padding: .2rem;
        border-radius: 0;
        border: 1px solid transparent;
        font-weight: 400;
        font-size: .9rem;

        &:hover {
            border: 1px dashed lightgray;
        }
    }
}

.upper-board-header {
    @include flex;
    margin: 3px 0 10px 0;

    #change-board-name-field {
        margin: 0;
        padding: 0;
    
        input {
            @include text-input    

            &:hover {
                border: 1px solid rgb(169, 169, 169);
            }

            &:focus {
                border: 1px solid rgb(39, 113, 233);
            }
        }
    }
}

.upper-board-header-btns {
    @include flex;
    align-items: center;
    font-size: .9rem;

    div, button {
        font-family: $roboto;
        margin: 0 15px;
    }

    button {
        padding: 8px 10px;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid rgb(164, 164, 164);
        outline: none;
        font-size: .9rem;

        &:last-child {
            margin-left: 15px;
            border: 1px solid transparent;
            padding: 1px;
        }

        &:hover {
            background-color: rgb(232, 237, 243);
            cursor: pointer;
        }

        img {
            height: 1.8rem;
        }
    }

    #invite-to-board {
        display: flex;
        border: 1px solid transparent;

        img {
            height: 1rem;
            margin-right: 5px;
        }
    }
    
}

.board-bar {
    @include flex;
    width: 100%;
    justify-content: flex-start;
    margin: 15px 0;

    button {
        padding: .4rem .8rem .3rem .8rem;
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 3px;
        font-size: 1rem;;

        &:hover {
            cursor: pointer;
            background-color: rgb(221, 228, 228);
        }

        i { margin-top: -.2rem; }
    }
}

#add-group-btn {
    background-color: rgb(13, 114, 255);
    color: white;

    &:hover {
        background-color: rgb(23, 99, 204);
    }
}

#search-btn {
    margin: 0 15px;
}

.filter-by-person {
    position: relative;

    i.fa-times {
        padding: .2rem .4rem;
        margin: 0 -.5rem 0 .4rem;
        border-radius: 3px;

        &:hover { background-color: white; }
    }
}

.filter-menu {
    position: absolute;
    z-index: 600;
    width: 100%;
    min-width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 10px rgba(111, 111, 111, .2);
    background-color: white;

    li {
        margin: 3px auto;
        width: 100%;
        text-align: center;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(0, 124, 233);
        color: white;
        font-size: .8rem;

            &:hover {
                cursor: pointer;
                opacity: .9;
            }
    }
}

.add-group-prompt {
    margin-top: 2rem;
    margin-left: .5rem;
    font-size: 1.1rem;
    font-family: $roboto;
    color: rgb(0, 124, 233);

    i { margin-top: -.4rem; }
}