// layout and LeftNav

.everything-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.left-nav {
    display: block;
    height: 100vh;
    width: 10vw;
    min-width: 70px;
    max-width: 90px;
    overflow: hidden;
    background-color: rgb(37, 45, 74);
}

.left-nav-inner-container {
    @include flex($flex-direction: column)
    margin: 13px auto;
    height: calc(100vh - 26px);
    width: calc(100% - 20px); 
    color: white;

    .left-nav-btn {
        width: 80%;
        margin: 15px auto;
        padding: 12%;
        border-radius: 3px;

        img {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(17, 20, 35);
        }

        &:active {
            background-color: rgb(118, 122, 149);
        }
        
        &:hover::before {
            position: absolute;
            padding: 10px;
            margin-left: 50px;
            border-radius: 3px;
            background-color: rgb(68, 68, 68);
            font-size: .9rem;
            color: white;

            content: attr(data-title);
        }

    }

    [data-title="Boards"] {
        background-color: rgb(118, 122, 149);

        &:hover {
            background-color: rgb(118, 122, 149);
        }
    }

    #left-nav-logo {
        margin: 5px 0 0 5px;

        &:hover, &:active {
            cursor: auto;
            background-color: transparent;
        }
    }

    #user-icon {
        border-radius: 100%;
        width: 2.5rem;
        min-height: 2.5rem;
        padding: .6rem .6rem .5rem .4rem;
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: rgb(13, 140, 194);
        border: 2px solid white;
        font-size: 1.1rem;
        font-weight: 700;
        user-select: none;

        &:hover {
            transform: scale(.9);
            cursor: pointer;
        }

        text-align: center;
    }

}

.board-main {
    @include flex;
}