.create-board-modal-background, .boards-people-modal-background, .add-to-board-modal-background {
    @include modal-bg($background-color: rgba(43, 52, 90, 0.6));
}

.create-board-modal-foreground, .boards-people-modal-foreground, .add-to-board-modal-foreground {
    overflow: auto;
    background-color: white;
    width: 40vw;
    min-width: 300px;
    height: 90vh;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 10px;
    padding: 30px;

    #create-board-modal-header, #boards-people-modal-header, #add-to-board-modal-header {
        @include flex;

        h1 {
            margin-bottom: 20px;
            font-family: $roboto;
            font-size: 2rem;
            font-weight: 700;
        }

        img {
            background-color: transparent;
            width: 2rem;
            height: 2rem;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }

            &:active {
                opacity: 1;
            }
        }
    }

    label {
        font-family: $roboto;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        font-size: .9rem;
        border-bottom: 1px solid rgb(238, 238, 238);

        input {
            font-family: $roboto;
            margin: 10px 0;
            padding: 5px 10px;
            font-size: 1rem;
            width: calc(100% - 24px);
        }
    }

    button {
        margin-left: 60%;
        min-width: 100px;
        min-height: 30px;
        border-radius: 3px;
        padding: 10px;
        font-size: 1rem;
        border: none;
        background-color: rgb(9, 83, 255);
        color: white;

        &:hover {
            cursor: pointer;
            opacity: .9;
        }
    }
}


li.board-member {
    margin: 1rem 0;
}


    #fake-form {
        @include flex($justify-content: flex-start);
        flex-wrap: wrap;
        margin: 15px;

        h3 {
            margin: 10px;
            padding-top: 10px;
            display: block;
            font-weight: 700;
            font-size: 1rem;
        }

        div {
            @include flex;
            width: 40%;
            min-width: 110px;
            padding: 10px;

            label {
                overflow: visible;
                width: 80%;
                z-index: 100;
                border: none;
            }

            input, input:last-child {
                width: 20px;
                height: 20px;
                border: none;
                padding: 0;
                font-size: 1rem;
            }
        }
    }




// Thanks for checking out this project! Enjoy!

#add-to-board-modal-header {
    span {
        font-family: 'Aladin', cursive !important;
        letter-spacing: 4px;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}

#sites-icons {
    @include flex($justify-content: space-around);
    width: 100%;
    font-size: 1.8rem;

    i { 
        margin-bottom: 35px;
        color: $gray;
    }
}

.add-to-board-modal-foreground summary {
    p.paras {
        margin: 30px 0;
        margin-top: 0;
        line-height: 180%;

        b { 
            font-weight: 700;
            color: $brown;
        }
    }

    .sig { 
        font-weight: 700;
        color: $brown;
    }
}

// - Kira (:

#add-to-board-modal-header span.s-brown { color: $brown; }
#add-to-board-modal-header span.s-salmon { color: $salmon; }
#add-to-board-modal-header span.s-gold { color: $gold; }
#add-to-board-modal-header span.s-green { color: $green; }
#add-to-board-modal-header span.s-blue { color: $blue; }
#add-to-board-modal-header span.s-indigo { color: $indigo; }