.create-board-modal-background, .boards-people-modal-background {
    @include modal-bg($background-color: rgba(43, 52, 90, 0.6));
}

.create-board-modal-foreground, .boards-people-modal-foreground {
    overflow: auto;
    background-color: white;
    width: 40vw;
    height: 90vh;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 10px;
    padding: 30px;

    #create-board-modal-header, #boards-people-modal-header {
        @include flex;

        h1 {
            margin-bottom: 20px;
            font-family: $roboto;
            font-size: 2rem;
            font-weight: 700;
        }

        img {
            background-color: transparent;
            width: 2rem;
            height: 2rem;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }

            &:active {
                opacity: 1;
            }
        }
    }

    label {
        font-family: $roboto;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: .9rem;

        input {
            font-family: $roboto;
            margin: 10px 0;
            padding: 5px 10px;
            font-size: 1rem;
            width: calc(100% - 24px);
        }
    }

    button {
        min-width: 100px;
        min-height: 30px;
        color: black;
    }
}