// mixins
@mixin roboto-lightweight {
    font-family: $roboto;
    font-weight: 300;
}

@mixin flex($flex-direction: row, $justify-content: space-between) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}


// fonts
$roboto: 'Roboto', sans-serif;
$nunito: 'Nunito', sans-serif;
$arial: Arial, Helvetica, sans-serif;


// colors
$input-border-color: 1px solid rgb(130,130,130);