// NAV_HEADER
.landing-nav-btns {
    padding: 10px;
    position: sticky;
}

#logo, #networking-btns, #networking-btns li a, #login-btn, #get-started-btn {
    font-family: $roboto;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 1.1rem;
    font-weight: 300;
    margin: 8px 15px;

    &:hover {
        color: rgb(73, 88, 255);
    }
}

.landing-nav-btns {
    @include flex;
    height: 70px;
    width: 100%;
}

.left-side-landing-btns, .right-side-landing-btns {
    @include flex;
}

.left-side-landing-btns {
    margin-left: 5px;
}

#networking-btns {
    @include flex;
    align-items: center;
    min-width: 38vw;
    margin-left: 36px;
}

.right-side-landing-btns {
    width: 20%;
    align-self: flex-end;
    align-items: center;
    height: 100%;
}

#get-started-btn {
    @include get-started();
}

#get-started-text {
    font-size: 1rem;
}

#logo {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $nunito;
    color: rgb(56, 56, 56);

    &:hover {
        color: rgb(41, 41, 41);
    }
}

#logo-com {
    font-size: 1.1rem;
    font-family: $nunito;
    color: rgb(56, 56, 56);
}

#w-logo {
    height: 1.2rem;
    margin-top: -5px;
    margin-right: 10px;
}


// MAIN CONTENT
.yellow-banner {
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgb(219, 252, 130);
    text-align: center;
    padding: 25px 0;

    p {
        font-size: 1.2rem;
        @include roboto-lightweight;
        
        span {
            @include roboto-lightweight;
            font-weight: 700;
        }
    }
}


.landing-main {
    display: block;
    height: calc(100vh - 70px - 70px);
    text-align: center;
    
    h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 4rem;
        font-weight: 700;
        color: #333333;
    }

    p {
        @include roboto-lightweight;
        margin-top: 30px;
        font-size: 1.7rem;
    }

    #get-started-btn-bigger {
        @include get-started();
        display: block;
        width: 240px;
        padding: 14px 0;
        height: 50px;
        margin: 60px auto;
        font-size: 1.2rem;
        text-decoration: none;
    }
}