/* LOGIN (DEFAULT) STYLES */

form {
    margin: 10px;
}

form label, #signup-full-name-label {
    @include flex($justify-content: flex-end);
    width: 80%;
    margin: 20px 20px 20px -10px;

    span {
        position: relative;
        margin-top: 15px;
        @include roboto-lightweight;
    }
}

form input, #signup-full-name-input {
    width: 20vw;
    min-width: 300px;
    height: 2rem;
    margin-left: 10px;
    padding: 5px 10px;
    outline: none;
    border: $input-border-color;
    border-radius: 5px;

    &:focus {
        border: 1px solid rgb(19, 150, 226);
    }
}

.session-form-submit-btn {
    height: 3rem;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    border: none;
    border-radius: 65px;
    background-color: rgb(19, 167, 226);
    box-shadow: 0 3px 0 rgb(26, 151, 209);
    color: white;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        background-color: rgb(26, 151, 209);
    }
}

#session-call-to-action {
    @include roboto-lightweight;
    text-align: center;

    a {
        margin-left: 10px;
        text-decoration: none;
        color: rgb(19, 150, 226);
        @include roboto-lightweight;
    }
}



/* DEMO LOGIN STYLES */

.demo-login-container {
    display: block;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-top: 1.5px solid rgb(197, 197, 197);

    p {
        display: block;
        width: 130px;
        margin: 0 auto;
        margin-top: -10px;
        background-color: white;
        @include roboto-lightweight;
    }
}

#demo-login-btn {
    width: 130px;
    margin: 30px;
    border-radius: 60px;
    border: 1px solid rgb(130, 130, 130);
    padding: 10px;
    background-color: transparent;
    font-family: $arial;

    &:hover {
        cursor: pointer;
    }
}



/* SIGNUP (OVERRIDE) STYLES */
.signup-container {
    @include flex;
    margin: 0 auto;
    margin-top: 5vh;
    width: 70vw;
    max-width: 1200px;
    min-width: 600px;
    border: 1px solid red;
    padding: 40px;

    h1 {
        @include roboto-lightweight;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 1.5rem;
        color: #333333;
    }

    p {
        margin-top: -10px;
        font-family: $arial;
        color: rgb(109, 109, 109);
    }

    .signup-left-side {
        width: 70%;
        overflow: hidden;
    }

    .signup-right-side {
        width: 30%;
    }
}

.signup-main {
    border: 1px solid limegreen;

    #signup-session-form {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    label, #signup-full-name-label {
        display: block;
        margin-left: 5px;
        width: 100%;

        span {
            display: block;
            font-family: $arial;
            font-size: .9rem;
        }
    }

    input, #signup-full-name-input {
        margin-top: 5px;
        margin-left: 0;
        height: 1.5rem;
        width: 90%;
    }

    #signup-submit-btn {
        height: 2.5rem;
        border-radius: 5px;
        background-color: rgb(21, 107, 235);
        box-shadow: none;
        font-size: 1rem;
        font-weight: 700;
    }

    .demo-login-container {
        margin-top: 30px;
    }

    #demo-login-btn {
        margin: 15px;
        border-radius: 5px;
    }

}