.login-topbar {
    padding: 10px 10px 14px 10px;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(228, 228, 228);

    #logo {
        font-size: 2.5rem;
    }

    #w-logo {
        margin-top: 0;
    }
}

.login-container {
    margin: 0 auto;
    margin-top: 8vh;
    width: 40vw;
    min-width: 600px;
    text-align: center;

    h1 {
        @include roboto-lightweight;
        font-weight: 100;
        font-size: 2.5rem;
        margin-bottom: 40px;
    }
}


/* LOGIN form (DEFAULT) STYLES */

form {
    margin: 10px;
}

form label, #signup-full-name-label {
    @include flex($justify-content: flex-end);
    width: 80%;
    margin: 20px 20px 20px -10px;

    span {
        position: relative;
        margin-top: 15px;
        @include roboto-lightweight;
    }
}

form input, #signup-full-name-input {
    width: 20vw;
    min-width: 300px;
    height: 2rem;
    margin-left: 10px;
    padding: 5px 10px;
    outline: none;
    border: $input-border-color;
    border-radius: 5px;

    &:focus {
        border: 1px solid rgb(19, 150, 226);
    }
}

.session-form-submit-btn {
    height: 3rem;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    border: none;
    border-radius: 65px;
    background-color: rgb(19, 167, 226);
    box-shadow: 0 3px 0 rgb(26, 151, 209);
    color: white;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        background-color: rgb(26, 151, 209);
    }
}

#session-call-to-action {
    @include roboto-lightweight;
    text-align: center;

    a {
        margin-left: 10px;
        text-decoration: none;
        color: rgb(19, 150, 226);
        @include roboto-lightweight;
    }
}



/* SIGNUP form (OVERRIDE) STYLES */



/* DEMO LOGIN STYLES */

.demo-login-container {
    display: block;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-top: 1.5px solid rgb(197, 197, 197);

    p {
        display: block;
        width: 130px;
        margin: 0 auto;
        margin-top: -10px;
        background-color: white;
        @include roboto-lightweight;
    }
}

#demo-login-btn {
    width: 130px;
    margin: 30px;
    border-radius: 60px;
    border: 1px solid rgb(130, 130, 130);
    padding: 10px;
    background-color: transparent;
    font-family: $arial;

    &:hover {
        cursor: pointer;
    }
}